




.drop-down .drop-down-btn{
    width: 860px;
    margin: 5px;
    margin-top: 8px;
    padding: 13px;
    border: 1px solid #565656;
    outline: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: #d8d6d6;

}